junk/
snews-server/build
snews-server/.gradle
snews-server/.idea
snews-server/.settings
snews-server/bin
snews-server/out
snews-server/images
snews-server/src/main/resources/application-docker-local.properties
snews-server/src/main/resources/application-google.properties
snews-server/src/main/resources/application-local.properties


web-client/.vscode
web-client/dist
web-client/node_modules
web-client/.editorconfig

fclient
