@import '../../../styles.scss';
.footer-links {
    width: 100%;
}

.footer-links>div {
    margin: 18px;
}

.footer-link {
    color: white;
}

.footer {
    // background-color: #363B40;
    background-color: $color-secondary;
    color: white;
    padding: 50px;
    margin-top: 20px;
}
