@import '../../../styles.scss';
.unauth {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.field {
    display: block;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    width: 100%;
    background: mat-color($accent, 300);
    color: white;
    margin-bottom: 24px;
}

app-redline {
    display: block;
    margin-bottom: 24px;
}
