<div class="about">
  <h2>About SNEWS</h2>
  <app-redline></app-redline>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper quam
    ut aliquam interdum. Proin suscipit risus vitae dolor posuere molestie.
    Fusce congue nec augue sit amet posuere. Sed vitae tortor fringilla,
    porttitor magna eu, lobortis arcu. Quisque felis metus, gravida ut eleifend
    sed, consectetur quis massa. Integer porta sagittis tortor, at luctus enim
    fringilla dignissim. Praesent elementum efficitur quam vel iaculis.
    Curabitur porttitor velit in nisi venenatis, eget pulvinar dolor
    sollicitudin. Cras scelerisque porta nibh ut scelerisque. Suspendisse eget
    maximus quam, a accumsan enim. Nam ut nunc vitae quam rutrum pharetra.
    Vivamus porttitor orci turpis, nec ultricies purus ornare a. In a urna vel
    augue mollis dapibus placerat eget enim. Proin suscipit nibh odio, aliquet
    bibendum turpis iaculis et. Suspendisse venenatis bibendum tristique.
    Maecenas vitae molestie quam. Aenean dolor dolor, fermentum vel sagittis at,
    gravida a libero. Fusce sed mauris mi. Mauris commodo leo vel pharetra
    bibendum. Fusce cursus feugiat massa id scelerisque. Curabitur faucibus
    fringilla diam, in euismod mauris dignissim non. Ut lacus elit, aliquet eget
    sagittis at, eleifend non risus. Etiam ullamcorper, ligula ut gravida
    commodo, justo metus egestas velit, sit amet tristique tortor mi a lacus.
    Duis mi lacus, vestibulum quis dolor sit amet, dignissim commodo leo.
    Praesent bibendum sem vitae justo iaculis, eu consequat libero facilisis.
    Pellentesque bibendum fringilla nibh, non semper ipsum vulputate fringilla.
    Nunc leo nulla, mollis a facilisis non, dignissim non arcu. Fusce rhoncus
    nec sapien ac vestibulum. Phasellus commodo sagittis consequat. Morbi ut mi
    volutpat, lacinia dui nec, suscipit tellus. Donec rhoncus lectus nec metus
    ultrices accumsan. Mauris elementum suscipit risus, eu molestie lacus tempor
    quis. Ut auctor maximus augue nec imperdiet. Sed eu quam a nisl vulputate
    rhoncus vel nec eros. Ut elementum felis nunc, a elementum nulla consectetur
    ac. Ut condimentum leo vel ipsum scelerisque porttitor. Nam convallis nunc
    eu nunc suscipit, eget suscipit neque sollicitudin. Donec pretium arcu et
    arcu elementum scelerisque. Vestibulum tellus nunc, sodales at nulla ac,
    fringilla condimentum massa. Cras quis arcu egestas lectus mattis rhoncus.
    Vivamus aliquet nec erat at iaculis. Maecenas pretium porttitor tortor, sit
    amet lobortis urna congue ac. Pellentesque eu sollicitudin tortor. Aliquam
    eu cursus mi. Aenean diam leo, sodales quis felis vel, ultricies finibus
    neque. Mauris tristique scelerisque sapien, eu vestibulum justo pellentesque
    eu. Curabitur id eros lacus. Duis nec tincidunt nibh. Curabitur consequat
    gravida ex. Nam efficitur augue vel enim consectetur lobortis. Aliquam at
    orci lacus. Aenean nec imperdiet massa, tempor mattis quam. Sed arcu felis,
    dapibus in sapien vel, pellentesque semper tellus. Curabitur imperdiet
    suscipit imperdiet. Curabitur tellus orci, pretium sed lacinia nec, tempor
    et sem. Proin euismod lectus velit, non hendrerit tortor sodales sit amet.
    Ut non dictum sem.

    <!-- Born out of the meta-political genius of TRS in August 2015, Fash the Nation
    is a Capitol Hill-styled weekend news show bringing you the latest political
    news and analysis from the United States and around the world. McFeels and
    Halberstram are seasoned political analysts who left their posts
    inside-the-beltway in pursuit of delivering you The Right Stuff. -->
  </p>
</div>
