.twitter {
    background: #1ca0f2;
    margin-top: -10px;
    color: white;
}

// .twitter:hover {
//     background: #1ca0f2;
// }
.twitter:hover {
    background: #0c7abf; // #0084b4
}

// .twitter-icon {
//     background-color: #1ca0f2;
//     top: 4px;
//     height: 32pxDark_Blue;
//     width: 32px;
// }
.link {
    text-decoration: none;
    color: white;
}

.reddit {
    background-color: #ff4500;
    color: white;
}

.reddit:hover {
    background-color: rgb(255, 106, 50);
}

// .reddit-icon {
//     height: 24px;
//     width: 24px;
//     vertical-align: middle;
// }
.facebook {
    background-color: #4267b2;
    color: white;
}

.facebook:hover {
    background-color: #8b9dc3;
}

.copy {
    background-color: grey;
    color: white;
}

.copy>mat-icon {
    color: white;
}

.copy:hover {
    background-color: darkgray;
}

.email {
    background-color: #FBC02D;
    color: white;
    margin-bottom: -10px;
}

.email:hover {
    background-color: #ffcf58;
}
