@media only screen and (min-width:775px) {
    .grid {
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width:775px) {
    .grid {
        grid-template-columns: auto;
    }
}

.grid {
    margin-top: 10px;
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding-top: 5px;
}

:host {
    margin-left: auto;
    margin-right: auto;
    float: right;
}

.title {
    font-size: 29px;
}

.preload {
    width: 100%;
}

app-big-post {
    width: 100%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 30px;
}

.button {
    width: 100%;
}
