@import '../../../styles';
.container {
    margin-left: auto;
    margin-right: auto;
}

.field {
    width: 90%;
    margin: auto;
    display: block;
}

form {
    margin-top: 20px;
}

.red {
    background-color: $color-primary;
    color: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 300px;
}

:host {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 1275px;
    padding: 25px;
}
