<div class="fab-title">
  <h1>Draft Posts</h1>
  <button class="" mat-fab color="primary" [routerLink]="'/admin/posts/create'">
    <mat-icon>add</mat-icon>
  </button>
</div>
<app-redline></app-redline>
<table mat-table [dataSource]="drafPosts" class="table">
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let element">{{ element.getTitle() }}</td>
  </ng-container>

  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef>Author</th>
    <td mat-cell *matCellDef="let element">
      {{ 'hello' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="tags">
    <th mat-header-cell *matHeaderCellDef>Tags</th>
    <td mat-cell *matCellDef="let element">
      {{ getTags(element) }}
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <a [routerLink]="'/admin/posts/' + element.getId()">
        <mat-icon color="accent">pageview</mat-icon>
      </a>
      <a [routerLink]="'/admin/posts/' + element.getId()">
        <mat-icon color="accent">edit</mat-icon>
      </a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<h1>All Posts</h1>
<app-redline></app-redline>
<table mat-table [dataSource]="posts" class="table">
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let element">{{ element.getTitle() }}</td>
  </ng-container>

  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef>Author</th>
    <td mat-cell *matCellDef="let element">
      {{ 'hello' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="tags">
    <th mat-header-cell *matHeaderCellDef>Tags</th>
    <td mat-cell *matCellDef="let element">
      {{ getTags(element) }}
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <a [routerLink]="'/admin/posts/' + element.getId()">
        <mat-icon color="accent">pageview</mat-icon>
      </a>
      <a [routerLink]="'/admin/posts/' + element.getId()">
        <mat-icon color="accent">edit</mat-icon>
      </a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
